@charset "UTF-8";

@media (prefers-color-scheme: light) {
  /* Styles for light mode */
  body {
    background: #ffffff;
    color: #000000;
  }

}

@media (prefers-color-scheme: dark) {
  /* Styles for dark mode */
  body {
    background: #000000;
    color: #ffffff;
  }


}