@charset "UTF-8";

@media (prefers-color-scheme: light) {
  /* Styles for light mode */
  body {
    background: #ffffff;
    color: #000000;
  }

  [data-is-odd-item="true"]{
    background: #f0f0f0;
  }

  [data-is-odd-item="false"]{
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  /* Styles for dark mode */
  body {
    background: #000000;
    color: #ffffff;
  }

  [data-is-odd-item="true"]{
    background: #1a1a1a;
  }

  [data-is-odd-item="false"]{
    background: black;
  }

  :host {
      --md-filled-button-container-shape: 0px;
      --md-filled-button-label-text-font: system-ui;
      --md-sys-color-primary: #006A6A;
      --md-sys-color-on-primary: #FFFFFF;
  }
}


ul {
  list-style-type: none; /* Removes bullets */
  margin:0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}

[data-padding]{
  padding-left: attr(data-padding px);
}

/* li {
  padding-left: attr(data-margin px);
} */




[data-only-yours-exists="true"] details, [data-only-yours-exists="true"] div, details[itemscope=CompDirInfo]:not([data-name-to-display]){
    visibility: hidden;
}
li[data-has-content-to-display="false"] > details > summary {
  list-style: none;
}

li[data-only-yours-exists="true"]{
    list-style: none;
}

li[data-has-content-to-display="false"] details[data-has-content-to-display="false"] > summary::marker {
  display: none;
}


summary {
  list-style-type: '📁 ';
}

details {
  cursor:default;
}

details[open]>summary {
  list-style-type: '📂 ';
}


table.LRTable {
  width: 100%;
  border-collapse: collapse;
}
  
button[name=delete] {
  background-color: transparent; /* Removes background color */
  border: none; /* Removes border */
  color: inherit; /* Ensures text color matches parent element */
  cursor: pointer; /* Adds a pointer cursor for better UX */
  padding: 0; /* Optional: Adjust padding as needed */
}