@charset "UTF-8";
ul {
  list-style-type: none; /* Removes bullets */
      
}

li {

  border-top-width: 1px;
  border-top-style: solid;
  /* border-color: lightgray; */
}

li:last-child{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul[itemprop="files"]{
  list-style-type: square; /* Restores bullets */;
}

[data-only-yours-exists="true"]>*, [data-name-to-display="undefined"]{
    visibility: hidden;
}
li[data-has-content-to-display="false"] > details > summary {
  list-style: none;
}

li[data-only-yours-exists="true"]{
    list-style: none;
}

li[data-has-content-to-display="false"] details[data-has-content-to-display="false"] > summary::marker {
  display: none;
}

summary {
  list-style-type: '📁 ';
}

details {
  cursor:default;
}

details[open]>summary {
  list-style-type: '📂 ';
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 20px;
}

table.LRTable {
  width: 100%;
  border-collapse: collapse;
}
  
button[name=delete] {
  background-color: transparent; /* Removes background color */
  border: none; /* Removes border */
  color: inherit; /* Ensures text color matches parent element */
  cursor: pointer; /* Adds a pointer cursor for better UX */
  padding: 0; /* Optional: Adjust padding as needed */
}